-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sistem_sgcc
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `sistem_sgcc`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `sistem_sgcc` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `sistem_sgcc`;

--
-- Table structure for table `alerta_destinatarios`
--

DROP TABLE IF EXISTS `alerta_destinatarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alerta_destinatarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `alerta_codigo` varchar(100) NOT NULL,
  `tipo_destinatario` varchar(20) NOT NULL,
  `destinatario_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alerta_destinatarios_alerta_codigo_index` (`alerta_codigo`),
  KEY `idx_alerta_dest` (`alerta_codigo`,`tipo_destinatario`,`destinatario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alerta_destinatarios`
--

LOCK TABLES `alerta_destinatarios` WRITE;
/*!40000 ALTER TABLE `alerta_destinatarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `alerta_destinatarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alertas`
--

DROP TABLE IF EXISTS `alertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alertas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cuenta_cobro_id` bigint(20) unsigned DEFAULT NULL,
  `nivel` varchar(20) DEFAULT NULL COMMENT 'INFO, WARNING, ERROR, CRITICAL',
  `tipo_alerta` varchar(50) DEFAULT NULL,
  `mensaje` text DEFAULT NULL,
  `leida` tinyint(1) NOT NULL DEFAULT 0,
  `usuario_destino_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_alerta_estancamiento_unica` (`cuenta_cobro_id`,`usuario_destino_id`,`tipo_alerta`,`nivel`),
  KEY `idx_alertas_optimization` (`usuario_destino_id`,`leida`),
  KEY `alertas_cuenta_cobro_id_index` (`cuenta_cobro_id`),
  KEY `idx_alertas_performance_filter` (`tipo_alerta`,`leida`,`cuenta_cobro_id`),
  CONSTRAINT `alertas_cuenta_cobro_id_foreign` FOREIGN KEY (`cuenta_cobro_id`) REFERENCES `cuentas_cobro` (`id`) ON DELETE CASCADE,
  CONSTRAINT `alertas_usuario_destino_id_foreign` FOREIGN KEY (`usuario_destino_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas`
--

LOCK TABLES `alertas` WRITE;
/*!40000 ALTER TABLE `alertas` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditorias`
--

DROP TABLE IF EXISTS `auditorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditorias` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint(20) unsigned DEFAULT NULL,
  `tabla_afectada` varchar(60) NOT NULL,
  `registro_id` bigint(20) unsigned DEFAULT NULL,
  `accion` varchar(20) DEFAULT NULL COMMENT 'INSERT, UPDATE, DELETE',
  `payload_anterior` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload_anterior`)),
  `payload_nuevo` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload_nuevo`)),
  `ip_origen` varchar(45) DEFAULT NULL,
  `user_agent` varchar(200) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `auditorias_tabla_afectada_index` (`tabla_afectada`),
  KEY `auditorias_created_at_index` (`created_at`),
  KEY `auditorias_usuario_id_index` (`usuario_id`),
  CONSTRAINT `auditorias_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditorias`
--

LOCK TABLES `auditorias` WRITE;
/*!40000 ALTER TABLE `auditorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bloques_workflow`
--

DROP TABLE IF EXISTS `bloques_workflow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bloques_workflow` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `codigo` varchar(20) NOT NULL,
  `orden` smallint(6) NOT NULL,
  `sla_horas` int(11) DEFAULT NULL,
  `requiere_aprobacion` tinyint(1) NOT NULL DEFAULT 0,
  `roles_permitidos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`roles_permitidos`)),
  `descripcion` text DEFAULT NULL,
  `icono` varchar(50) DEFAULT NULL,
  `color_hex` varchar(7) DEFAULT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bloques_workflow_codigo_unique` (`codigo`),
  UNIQUE KEY `bloques_workflow_orden_unique` (`orden`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bloques_workflow`
--

LOCK TABLES `bloques_workflow` WRITE;
/*!40000 ALTER TABLE `bloques_workflow` DISABLE KEYS */;
/*!40000 ALTER TABLE `bloques_workflow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
INSERT INTO `cache` VALUES ('laravel-cache-scheduler_last_check','b:1;',1772744807),('laravel-cache-stagnation_check_active','b:1;',1772744808);
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conceptos`
--

DROP TABLE IF EXISTS `conceptos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conceptos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `conceptos_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=238 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conceptos`
--

LOCK TABLES `conceptos` WRITE;
/*!40000 ALTER TABLE `conceptos` DISABLE KEYS */;
/*!40000 ALTER TABLE `conceptos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuraciones`
--

DROP TABLE IF EXISTS `configuraciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuraciones` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `clave` varchar(100) NOT NULL,
  `valor` text DEFAULT NULL,
  `tipo_dato` varchar(20) DEFAULT NULL COMMENT 'STRING, INT, BOOL, JSON',
  `descripcion` text DEFAULT NULL,
  `modificado_por_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `configuraciones_clave_unique` (`clave`),
  KEY `configuraciones_modificado_por_id_foreign` (`modificado_por_id`),
  CONSTRAINT `configuraciones_modificado_por_id_foreign` FOREIGN KEY (`modificado_por_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuraciones`
--

LOCK TABLES `configuraciones` WRITE;
/*!40000 ALTER TABLE `configuraciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuraciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratista_seguridad_social`
--

DROP TABLE IF EXISTS `contratista_seguridad_social`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contratista_seguridad_social` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contratista_id` bigint(20) unsigned NOT NULL,
  `entidad_salud_id` bigint(20) unsigned DEFAULT NULL,
  `entidad_pension_id` bigint(20) unsigned DEFAULT NULL,
  `entidad_arl_id` bigint(20) unsigned DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `es_vigente` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `contratista_seguridad_social_entidad_salud_id_foreign` (`entidad_salud_id`),
  KEY `contratista_seguridad_social_entidad_pension_id_foreign` (`entidad_pension_id`),
  KEY `contratista_seguridad_social_entidad_arl_id_foreign` (`entidad_arl_id`),
  KEY `contratista_seguridad_social_contratista_id_index` (`contratista_id`),
  KEY `contratista_seguridad_social_es_vigente_index` (`es_vigente`),
  CONSTRAINT `contratista_seguridad_social_contratista_id_foreign` FOREIGN KEY (`contratista_id`) REFERENCES `contratistas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `contratista_seguridad_social_entidad_arl_id_foreign` FOREIGN KEY (`entidad_arl_id`) REFERENCES `entidades_seguridad_social` (`id`),
  CONSTRAINT `contratista_seguridad_social_entidad_pension_id_foreign` FOREIGN KEY (`entidad_pension_id`) REFERENCES `entidades_seguridad_social` (`id`),
  CONSTRAINT `contratista_seguridad_social_entidad_salud_id_foreign` FOREIGN KEY (`entidad_salud_id`) REFERENCES `entidades_seguridad_social` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=335 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratista_seguridad_social`
--

LOCK TABLES `contratista_seguridad_social` WRITE;
/*!40000 ALTER TABLE `contratista_seguridad_social` DISABLE KEYS */;
/*!40000 ALTER TABLE `contratista_seguridad_social` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratistas`
--

DROP TABLE IF EXISTS `contratistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contratistas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `razon_social` varchar(150) NOT NULL COMMENT 'CONTRATISTA del Excel (col 2)',
  `nit` varchar(20) NOT NULL COMMENT 'CEDULA del Excel (col 3)',
  `tipo_persona` enum('NATURAL','JURIDICA') NOT NULL DEFAULT 'NATURAL',
  `representante_legal` varchar(150) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `direccion_fisica` text DEFAULT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `contratistas_nit_index` (`nit`),
  KEY `contratistas_razon_social_index` (`razon_social`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratistas`
--

LOCK TABLES `contratistas` WRITE;
/*!40000 ALTER TABLE `contratistas` DISABLE KEYS */;
/*!40000 ALTER TABLE `contratistas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contratos`
--

DROP TABLE IF EXISTS `contratos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contratos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `numero_proceso` varchar(50) DEFAULT NULL,
  `numero_contrato` varchar(50) NOT NULL COMMENT 'NUMERO DE CONTRATO del Excel (col 1)',
  `modalidad_id` bigint(20) unsigned DEFAULT NULL,
  `contratista_id` bigint(20) unsigned NOT NULL,
  `tipo_contratista_id` bigint(20) unsigned DEFAULT NULL,
  `supervisor_id` bigint(20) unsigned DEFAULT NULL,
  `objeto` text DEFAULT NULL,
  `monto_total` decimal(19,2) NOT NULL,
  `planta_id` bigint(20) unsigned DEFAULT NULL,
  `no_planta` varchar(255) DEFAULT NULL,
  `concepto_id` bigint(20) unsigned DEFAULT NULL,
  `concepto_precontractual` varchar(255) DEFAULT NULL,
  `cdp_codigo` varchar(50) DEFAULT NULL,
  `link_secop` varchar(255) DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `plazo_ejecucion` varchar(255) DEFAULT NULL,
  `estado_secop_id` bigint(20) unsigned DEFAULT NULL,
  `aprobado_y_pagado` varchar(255) DEFAULT NULL,
  `modificaciones_y_cierre` varchar(255) DEFAULT NULL,
  `saldo` decimal(19,2) NOT NULL DEFAULT 0.00,
  `observacion_1_razon` text DEFAULT NULL,
  `observacion_2_accion` text DEFAULT NULL,
  `razon_no_liquidacion` text DEFAULT NULL,
  `abogado_user_id` bigint(20) unsigned DEFAULT NULL,
  `contador_user_id` bigint(20) unsigned DEFAULT NULL,
  `ops_user_id` bigint(20) unsigned DEFAULT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `contratos_numero_contrato_unique` (`numero_contrato`),
  KEY `contratos_modalidad_id_foreign` (`modalidad_id`),
  KEY `contratos_tipo_contratista_id_foreign` (`tipo_contratista_id`),
  KEY `contratos_supervisor_id_foreign` (`supervisor_id`),
  KEY `contratos_planta_id_foreign` (`planta_id`),
  KEY `contratos_concepto_id_foreign` (`concepto_id`),
  KEY `contratos_estado_secop_id_foreign` (`estado_secop_id`),
  KEY `contratos_abogado_user_id_foreign` (`abogado_user_id`),
  KEY `contratos_contador_user_id_foreign` (`contador_user_id`),
  KEY `contratos_ops_user_id_foreign` (`ops_user_id`),
  KEY `contratos_numero_proceso_index` (`numero_proceso`),
  KEY `contratos_contratista_id_index` (`contratista_id`),
  CONSTRAINT `contratos_abogado_user_id_foreign` FOREIGN KEY (`abogado_user_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `contratos_concepto_id_foreign` FOREIGN KEY (`concepto_id`) REFERENCES `conceptos` (`id`),
  CONSTRAINT `contratos_contador_user_id_foreign` FOREIGN KEY (`contador_user_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `contratos_contratista_id_foreign` FOREIGN KEY (`contratista_id`) REFERENCES `contratistas` (`id`),
  CONSTRAINT `contratos_estado_secop_id_foreign` FOREIGN KEY (`estado_secop_id`) REFERENCES `estados_contrato_secop` (`id`),
  CONSTRAINT `contratos_modalidad_id_foreign` FOREIGN KEY (`modalidad_id`) REFERENCES `modalidades` (`id`),
  CONSTRAINT `contratos_ops_user_id_foreign` FOREIGN KEY (`ops_user_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `contratos_planta_id_foreign` FOREIGN KEY (`planta_id`) REFERENCES `plantas` (`id`),
  CONSTRAINT `contratos_supervisor_id_foreign` FOREIGN KEY (`supervisor_id`) REFERENCES `supervisores` (`id`),
  CONSTRAINT `contratos_tipo_contratista_id_foreign` FOREIGN KEY (`tipo_contratista_id`) REFERENCES `tipos_contratista` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contratos`
--

LOCK TABLES `contratos` WRITE;
/*!40000 ALTER TABLE `contratos` DISABLE KEYS */;
/*!40000 ALTER TABLE `contratos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuentas_cobro`
--

DROP TABLE IF EXISTS `cuentas_cobro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cuentas_cobro` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contrato_id` bigint(20) unsigned NOT NULL,
  `numero_cuenta` varchar(50) NOT NULL COMMENT 'NUMERO DE CUENTA del Excel (col 10)',
  `valor_cobro` decimal(19,2) NOT NULL,
  `fecha_radicacion` datetime DEFAULT NULL COMMENT 'FECHA DE RADICACIÓN del Excel (col 19)',
  `numero_pagos_totales` int(11) DEFAULT NULL COMMENT 'NUMERO DE PAGOS TOTALES del Excel (col 11)',
  `numero_facturas_radicadas` int(11) NOT NULL DEFAULT 0 COMMENT 'N° FACTURAS RADICADAS del Excel (col 12)',
  `porcentaje_cuentas` decimal(5,2) DEFAULT NULL COMMENT 'PORCENTAJE DE CUENTAS del Excel (col 13)',
  `radicado_por` varchar(100) DEFAULT NULL COMMENT 'RADICADO POR del Excel (col 18)',
  `bloque_actual_id` bigint(20) unsigned NOT NULL,
  `estado_actual_id` bigint(20) unsigned NOT NULL,
  `finalizada` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'TRUE cuando completa bloque 5',
  `responsable_actual_id` bigint(20) unsigned DEFAULT NULL,
  `observaciones` text DEFAULT NULL COMMENT 'OBSERVACIONES del Excel (col 20)',
  `ultima_factura_hacienda` varchar(50) DEFAULT NULL,
  `fecha_radicacion_hacienda` datetime DEFAULT NULL,
  `observacion_hacienda` text DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cuentas_cobro_estado_actual_id_foreign` (`estado_actual_id`),
  KEY `cuentas_cobro_responsable_actual_id_foreign` (`responsable_actual_id`),
  KEY `cuentas_cobro_numero_cuenta_index` (`numero_cuenta`),
  KEY `cuentas_cobro_contrato_id_index` (`contrato_id`),
  KEY `cuentas_cobro_bloque_actual_id_estado_actual_id_index` (`bloque_actual_id`,`estado_actual_id`),
  KEY `cuentas_cobro_finalizada_index` (`finalizada`),
  CONSTRAINT `cuentas_cobro_bloque_actual_id_foreign` FOREIGN KEY (`bloque_actual_id`) REFERENCES `bloques_workflow` (`id`),
  CONSTRAINT `cuentas_cobro_contrato_id_foreign` FOREIGN KEY (`contrato_id`) REFERENCES `contratos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cuentas_cobro_estado_actual_id_foreign` FOREIGN KEY (`estado_actual_id`) REFERENCES `estados_workflow` (`id`),
  CONSTRAINT `cuentas_cobro_responsable_actual_id_foreign` FOREIGN KEY (`responsable_actual_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuentas_cobro`
--

LOCK TABLES `cuentas_cobro` WRITE;
/*!40000 ALTER TABLE `cuentas_cobro` DISABLE KEYS */;
/*!40000 ALTER TABLE `cuentas_cobro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contrato_id` bigint(20) unsigned DEFAULT NULL,
  `tipo_documento_id` bigint(20) unsigned DEFAULT NULL,
  `nombre_archivo` varchar(255) DEFAULT NULL,
  `url_almacenamiento` text DEFAULT NULL,
  `estado_validacion` varchar(50) NOT NULL DEFAULT 'PENDIENTE',
  `subido_por_id` bigint(20) unsigned DEFAULT NULL,
  `version` smallint(6) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documentos_subido_por_id_foreign` (`subido_por_id`),
  KEY `documentos_contrato_id_index` (`contrato_id`),
  KEY `documentos_tipo_documento_id_index` (`tipo_documento_id`),
  CONSTRAINT `documentos_contrato_id_foreign` FOREIGN KEY (`contrato_id`) REFERENCES `contratos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `documentos_subido_por_id_foreign` FOREIGN KEY (`subido_por_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `documentos_tipo_documento_id_foreign` FOREIGN KEY (`tipo_documento_id`) REFERENCES `tipos_documento` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entidades_seguridad_social`
--

DROP TABLE IF EXISTS `entidades_seguridad_social`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entidades_seguridad_social` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `tipo` enum('SALUD','PENSION','ARL') NOT NULL,
  `codigo` varchar(20) DEFAULT NULL,
  `es_activa` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `entidades_seguridad_social_nombre_unique` (`nombre`),
  KEY `entidades_seguridad_social_tipo_nombre_index` (`tipo`,`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=519 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entidades_seguridad_social`
--

LOCK TABLES `entidades_seguridad_social` WRITE;
/*!40000 ALTER TABLE `entidades_seguridad_social` DISABLE KEYS */;
/*!40000 ALTER TABLE `entidades_seguridad_social` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado_bloque_cuenta`
--

DROP TABLE IF EXISTS `estado_bloque_cuenta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estado_bloque_cuenta` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cuenta_cobro_id` bigint(20) unsigned NOT NULL,
  `bloque_id` bigint(20) unsigned NOT NULL,
  `estado_actual_id` bigint(20) unsigned NOT NULL,
  `responsable_id` bigint(20) unsigned DEFAULT NULL,
  `fecha_ingreso_bloque` datetime NOT NULL COMMENT 'Cuándo entró a este bloque',
  `fecha_completado_bloque` datetime DEFAULT NULL COMMENT 'Cuándo completó el bloque (estado FINAL)',
  `fecha_ultima_actualizacion` datetime DEFAULT NULL,
  `numero_devoluciones` int(11) NOT NULL DEFAULT 0,
  `bloque_completado` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'TRUE cuando alcanza estado FINAL',
  `observaciones` text DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Datos específicos por bloque' CHECK (json_valid(`metadata`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_cuenta_bloque` (`cuenta_cobro_id`,`bloque_id`),
  KEY `estado_bloque_cuenta_estado_actual_id_foreign` (`estado_actual_id`),
  KEY `estado_bloque_cuenta_responsable_id_foreign` (`responsable_id`),
  KEY `estado_bloque_cuenta_cuenta_cobro_id_index` (`cuenta_cobro_id`),
  KEY `estado_bloque_cuenta_bloque_id_estado_actual_id_index` (`bloque_id`,`estado_actual_id`),
  KEY `estado_bloque_cuenta_bloque_completado_index` (`bloque_completado`),
  CONSTRAINT `estado_bloque_cuenta_bloque_id_foreign` FOREIGN KEY (`bloque_id`) REFERENCES `bloques_workflow` (`id`),
  CONSTRAINT `estado_bloque_cuenta_cuenta_cobro_id_foreign` FOREIGN KEY (`cuenta_cobro_id`) REFERENCES `cuentas_cobro` (`id`) ON DELETE CASCADE,
  CONSTRAINT `estado_bloque_cuenta_estado_actual_id_foreign` FOREIGN KEY (`estado_actual_id`) REFERENCES `estados_workflow` (`id`),
  CONSTRAINT `estado_bloque_cuenta_responsable_id_foreign` FOREIGN KEY (`responsable_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=157 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado_bloque_cuenta`
--

LOCK TABLES `estado_bloque_cuenta` WRITE;
/*!40000 ALTER TABLE `estado_bloque_cuenta` DISABLE KEYS */;
/*!40000 ALTER TABLE `estado_bloque_cuenta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_contrato_secop`
--

DROP TABLE IF EXISTS `estados_contrato_secop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estados_contrato_secop` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `estados_contrato_secop_nombre_unique` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_contrato_secop`
--

LOCK TABLES `estados_contrato_secop` WRITE;
/*!40000 ALTER TABLE `estados_contrato_secop` DISABLE KEYS */;
/*!40000 ALTER TABLE `estados_contrato_secop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_workflow`
--

DROP TABLE IF EXISTS `estados_workflow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estados_workflow` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `bloque_id` bigint(20) unsigned NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `codigo` varchar(30) NOT NULL,
  `tipo` enum('INICIAL','EN_PROCESO','APROBADO','DEVUELTO','FINAL') NOT NULL,
  `es_inicial` tinyint(1) NOT NULL DEFAULT 0,
  `es_final` tinyint(1) NOT NULL DEFAULT 0,
  `permite_devolucion` tinyint(1) NOT NULL DEFAULT 0,
  `contabiliza_tiempo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Indica si el tiempo en este estado cuenta para SLA/Estancamiento',
  `afecta_indicadores` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Indica si las cuentas en este estado aparecen en gráficas de producción',
  `color_hex` varchar(7) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `estados_workflow_codigo_unique` (`codigo`),
  KEY `estados_workflow_bloque_id_foreign` (`bloque_id`),
  CONSTRAINT `estados_workflow_bloque_id_foreign` FOREIGN KEY (`bloque_id`) REFERENCES `bloques_workflow` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_workflow`
--

LOCK TABLES `estados_workflow` WRITE;
/*!40000 ALTER TABLE `estados_workflow` DISABLE KEYS */;
/*!40000 ALTER TABLE `estados_workflow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `festivos`
--

DROP TABLE IF EXISTS `festivos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `festivos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `festivos_fecha_unique` (`fecha`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `festivos`
--

LOCK TABLES `festivos` WRITE;
/*!40000 ALTER TABLE `festivos` DISABLE KEYS */;
/*!40000 ALTER TABLE `festivos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_workflow`
--

DROP TABLE IF EXISTS `historial_workflow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historial_workflow` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cuenta_cobro_id` bigint(20) unsigned NOT NULL,
  `bloque_id` bigint(20) unsigned NOT NULL,
  `estado_origen_id` bigint(20) unsigned DEFAULT NULL,
  `estado_destino_id` bigint(20) unsigned NOT NULL,
  `usuario_accion_id` bigint(20) unsigned NOT NULL,
  `fecha_transicion` timestamp NOT NULL DEFAULT current_timestamp(),
  `tiempo_en_estado_anterior_minutos` int(11) DEFAULT NULL,
  `accion` varchar(50) DEFAULT NULL COMMENT 'APROBAR, RECHAZAR, DEVOLVER, PASAR_BLOQUE',
  `comentarios` text DEFAULT NULL,
  `documentos_adjuntos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`documentos_adjuntos`)),
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  PRIMARY KEY (`id`),
  KEY `historial_workflow_estado_origen_id_foreign` (`estado_origen_id`),
  KEY `historial_workflow_estado_destino_id_foreign` (`estado_destino_id`),
  KEY `historial_workflow_cuenta_cobro_id_index` (`cuenta_cobro_id`),
  KEY `historial_workflow_bloque_id_index` (`bloque_id`),
  KEY `historial_workflow_fecha_transicion_index` (`fecha_transicion`),
  KEY `historial_workflow_usuario_accion_id_index` (`usuario_accion_id`),
  KEY `idx_workflow_latest` (`cuenta_cobro_id`,`fecha_transicion`),
  CONSTRAINT `historial_workflow_bloque_id_foreign` FOREIGN KEY (`bloque_id`) REFERENCES `bloques_workflow` (`id`),
  CONSTRAINT `historial_workflow_cuenta_cobro_id_foreign` FOREIGN KEY (`cuenta_cobro_id`) REFERENCES `cuentas_cobro` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historial_workflow_estado_destino_id_foreign` FOREIGN KEY (`estado_destino_id`) REFERENCES `estados_workflow` (`id`),
  CONSTRAINT `historial_workflow_estado_origen_id_foreign` FOREIGN KEY (`estado_origen_id`) REFERENCES `estados_workflow` (`id`),
  CONSTRAINT `historial_workflow_usuario_accion_id_foreign` FOREIGN KEY (`usuario_accion_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_workflow`
--

LOCK TABLES `historial_workflow` WRITE;
/*!40000 ALTER TABLE `historial_workflow` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_workflow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metricas_diarias`
--

DROP TABLE IF EXISTS `metricas_diarias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metricas_diarias` (
  `fecha` date NOT NULL,
  `bloque_id` bigint(20) unsigned NOT NULL,
  `cantidad_procesada` int(11) NOT NULL DEFAULT 0,
  `cantidad_aprobada` int(11) NOT NULL DEFAULT 0,
  `cantidad_devuelta` int(11) NOT NULL DEFAULT 0,
  `promedio_tiempo_horas` decimal(10,2) DEFAULT NULL,
  `cumplimiento_sla_pct` int(11) DEFAULT NULL,
  PRIMARY KEY (`fecha`,`bloque_id`),
  KEY `metricas_diarias_bloque_id_foreign` (`bloque_id`),
  KEY `metricas_diarias_fecha_index` (`fecha`),
  CONSTRAINT `metricas_diarias_bloque_id_foreign` FOREIGN KEY (`bloque_id`) REFERENCES `bloques_workflow` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metricas_diarias`
--

LOCK TABLES `metricas_diarias` WRITE;
/*!40000 ALTER TABLE `metricas_diarias` DISABLE KEYS */;
/*!40000 ALTER TABLE `metricas_diarias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modalidades`
--

DROP TABLE IF EXISTS `modalidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `modalidades` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `es_activa` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `modalidades_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=238 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modalidades`
--

LOCK TABLES `modalidades` WRITE;
/*!40000 ALTER TABLE `modalidades` DISABLE KEYS */;
/*!40000 ALTER TABLE `modalidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos`
--

DROP TABLE IF EXISTS `permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permisos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `modulo` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permisos_slug_unique` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos`
--

LOCK TABLES `permisos` WRITE;
/*!40000 ALTER TABLE `permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planillas_seguridad_social`
--

DROP TABLE IF EXISTS `planillas_seguridad_social`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `planillas_seguridad_social` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cuenta_cobro_id` bigint(20) unsigned NOT NULL,
  `mes_planilla` varchar(20) NOT NULL COMMENT 'PLANILLA SS del Excel (col 17)',
  `anio_planilla` year(4) DEFAULT NULL,
  `numero_planilla` varchar(50) DEFAULT NULL,
  `valor_total` decimal(19,2) DEFAULT NULL,
  `fecha_pago` date DEFAULT NULL,
  `es_ultima` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `planillas_seguridad_social_cuenta_cobro_id_index` (`cuenta_cobro_id`),
  KEY `planillas_seguridad_social_mes_planilla_anio_planilla_index` (`mes_planilla`,`anio_planilla`),
  CONSTRAINT `planillas_seguridad_social_cuenta_cobro_id_foreign` FOREIGN KEY (`cuenta_cobro_id`) REFERENCES `cuentas_cobro` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=171 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planillas_seguridad_social`
--

LOCK TABLES `planillas_seguridad_social` WRITE;
/*!40000 ALTER TABLE `planillas_seguridad_social` DISABLE KEYS */;
/*!40000 ALTER TABLE `planillas_seguridad_social` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plantas`
--

DROP TABLE IF EXISTS `plantas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plantas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `nombre` varchar(150) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `es_activa` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `plantas_codigo_unique` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=238 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plantas`
--

LOCK TABLES `plantas` WRITE;
/*!40000 ALTER TABLE `plantas` DISABLE KEYS */;
/*!40000 ALTER TABLE `plantas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registros_presupuestales`
--

DROP TABLE IF EXISTS `registros_presupuestales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registros_presupuestales` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contrato_id` bigint(20) unsigned NOT NULL,
  `numero_rp` varchar(50) NOT NULL COMMENT 'RP del Excel (col 4)',
  `fecha_rp` date DEFAULT NULL COMMENT 'FECHA RP del Excel (col 5)',
  `valor_rp` decimal(19,2) DEFAULT NULL COMMENT 'VALOR RP del Excel (col 6)',
  `estado` varchar(50) NOT NULL DEFAULT 'ACTIVO',
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `registros_presupuestales_numero_rp_index` (`numero_rp`),
  KEY `registros_presupuestales_contrato_id_index` (`contrato_id`),
  CONSTRAINT `registros_presupuestales_contrato_id_foreign` FOREIGN KEY (`contrato_id`) REFERENCES `contratos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=473 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registros_presupuestales`
--

LOCK TABLES `registros_presupuestales` WRITE;
/*!40000 ALTER TABLE `registros_presupuestales` DISABLE KEYS */;
/*!40000 ALTER TABLE `registros_presupuestales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol_permiso`
--

DROP TABLE IF EXISTS `rol_permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol_permiso` (
  `rol_id` bigint(20) unsigned NOT NULL,
  `permiso_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`rol_id`,`permiso_id`),
  KEY `rol_permiso_permiso_id_foreign` (`permiso_id`),
  CONSTRAINT `rol_permiso_permiso_id_foreign` FOREIGN KEY (`permiso_id`) REFERENCES `permisos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rol_permiso_rol_id_foreign` FOREIGN KEY (`rol_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol_permiso`
--

LOCK TABLES `rol_permiso` WRITE;
/*!40000 ALTER TABLE `rol_permiso` DISABLE KEYS */;
INSERT INTO `rol_permiso` VALUES (1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(1,7),(1,8),(1,9),(1,10),(1,11),(1,12),(2,4),(2,7);
/*!40000 ALTER TABLE `rol_permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `tipo` enum('SISTEMA','PERSONALIZADO') NOT NULL DEFAULT 'SISTEMA',
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrador','Acceso total y gestión de datos del sistema.','SISTEMA',1,'2026-03-05 16:27:09','2026-03-05 16:27:09'),(2,'Visualizador','Consulta de información sin permisos de edición.','SISTEMA',1,'2026-03-05 16:27:09','2026-03-05 16:27:09');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_mensual`
--

DROP TABLE IF EXISTS `seguimiento_mensual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimiento_mensual` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contrato_id` bigint(20) unsigned NOT NULL,
  `mes` varchar(20) NOT NULL,
  `anio` year(4) NOT NULL,
  `valor_pago` decimal(19,2) DEFAULT NULL,
  `actividades_realizadas` text DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `seguimiento_mensual_contrato_id_mes_anio_unique` (`contrato_id`,`mes`,`anio`),
  CONSTRAINT `seguimiento_mensual_contrato_id_foreign` FOREIGN KEY (`contrato_id`) REFERENCES `contratos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_mensual`
--

LOCK TABLES `seguimiento_mensual` WRITE;
/*!40000 ALTER TABLE `seguimiento_mensual` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_mensual` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_requisitos`
--

DROP TABLE IF EXISTS `seguimiento_requisitos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimiento_requisitos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contrato_id` bigint(20) unsigned NOT NULL,
  `nombre_requisito` varchar(200) NOT NULL,
  `cumple` tinyint(1) NOT NULL DEFAULT 0,
  `fecha_verificacion` date DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `seguimiento_requisitos_contrato_id_foreign` (`contrato_id`),
  CONSTRAINT `seguimiento_requisitos_contrato_id_foreign` FOREIGN KEY (`contrato_id`) REFERENCES `contratos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_requisitos`
--

LOCK TABLES `seguimiento_requisitos` WRITE;
/*!40000 ALTER TABLE `seguimiento_requisitos` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_requisitos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supervisores`
--

DROP TABLE IF EXISTS `supervisores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supervisores` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `cargo` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `supervisores_nombres_apellidos_index` (`nombres`,`apellidos`)
) ENGINE=InnoDB AUTO_INCREMENT=269 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supervisores`
--

LOCK TABLES `supervisores` WRITE;
/*!40000 ALTER TABLE `supervisores` DISABLE KEYS */;
/*!40000 ALTER TABLE `supervisores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_contratista`
--

DROP TABLE IF EXISTS `tipos_contratista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_contratista` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tipos_contratista_nombre_unique` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_contratista`
--

LOCK TABLES `tipos_contratista` WRITE;
/*!40000 ALTER TABLE `tipos_contratista` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipos_contratista` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_documento`
--

DROP TABLE IF EXISTS `tipos_documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipos_documento` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `es_obligatorio` tinyint(1) NOT NULL DEFAULT 0,
  `categoria` varchar(50) DEFAULT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tipos_documento_nombre_unique` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_documento`
--

LOCK TABLES `tipos_documento` WRITE;
/*!40000 ALTER TABLE `tipos_documento` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipos_documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transiciones_permitidas`
--

DROP TABLE IF EXISTS `transiciones_permitidas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transiciones_permitidas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `estado_origen_id` bigint(20) unsigned NOT NULL,
  `estado_destino_id` bigint(20) unsigned NOT NULL,
  `requiere_comentario` tinyint(1) NOT NULL DEFAULT 0,
  `requiere_documento` tinyint(1) NOT NULL DEFAULT 0,
  `accion` varchar(50) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `es_activa` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_transicion` (`estado_origen_id`,`estado_destino_id`),
  KEY `transiciones_permitidas_estado_destino_id_foreign` (`estado_destino_id`),
  CONSTRAINT `transiciones_permitidas_estado_destino_id_foreign` FOREIGN KEY (`estado_destino_id`) REFERENCES `estados_workflow` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transiciones_permitidas_estado_origen_id_foreign` FOREIGN KEY (`estado_origen_id`) REFERENCES `estados_workflow` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transiciones_permitidas`
--

LOCK TABLES `transiciones_permitidas` WRITE;
/*!40000 ALTER TABLE `transiciones_permitidas` DISABLE KEYS */;
/*!40000 ALTER TABLE `transiciones_permitidas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_permiso`
--

DROP TABLE IF EXISTS `usuario_permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_permiso` (
  `usuario_id` bigint(20) unsigned NOT NULL,
  `permiso_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`usuario_id`,`permiso_id`),
  KEY `usuario_permiso_permiso_id_foreign` (`permiso_id`),
  CONSTRAINT `usuario_permiso_permiso_id_foreign` FOREIGN KEY (`permiso_id`) REFERENCES `permisos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `usuario_permiso_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_permiso`
--

LOCK TABLES `usuario_permiso` WRITE;
/*!40000 ALTER TABLE `usuario_permiso` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `primer_nombre` varchar(50) NOT NULL,
  `segundo_nombre` varchar(50) DEFAULT NULL,
  `primer_apellido` varchar(50) NOT NULL,
  `segundo_apellido` varchar(50) DEFAULT NULL,
  `user` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol_id` bigint(20) unsigned NOT NULL,
  `es_activo` tinyint(1) NOT NULL DEFAULT 1,
  `fecha_inactivacion` timestamp NULL DEFAULT NULL,
  `ultimo_login` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuarios_user_unique` (`user`),
  KEY `usuarios_rol_id_foreign` (`rol_id`),
  KEY `usuarios_user_index` (`user`),
  CONSTRAINT `usuarios_rol_id_foreign` FOREIGN KEY (`rol_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Admin',NULL,'Sistema',NULL,'admin','$2y$12$SjJ9B6L2DDo3oYt3mpVEAeIAYoLtfLyAPPN5yYTfJQLPybmmF0bfa',1,1,NULL,'2026-03-05 20:08:10',NULL,'2026-03-05 16:27:09','2026-03-05 20:08:10');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-05 16:02:39
